
:root {

  /* Fonts */
  --font-primary: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-heading: 'Dynamix', sans-serif;

  /* <----------------------> NEW */
  /* colors */
  --color-bg: #121212; /* vanta 0x121212 */
  --color-primary-text: #E0E0E0; /* vanta 0xE0E0E0 */
  --color-secondary-text: #888888; /* vanta 0x888888 */
  --color-border: #444444; /* vanta 0x444444 */
  --color-accent: #888888; /* vanta 0x888888 */ 

  /* Layout */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --radius: 5px;

  /* Font Sizes */
  --fs-xs: clamp(0.75rem, 0.6vw, 0.875rem); /* 12px–14px */
  --fs-sm: clamp(0.875rem, 0.8vw, 1rem); /* 14px–16px */
  --fs-base: clamp(1rem, 1vw, 1.125rem); /* 16px–18px */
  --fs-md: clamp(1.125rem, 1.2vw, 1.25rem); /* 18px–20px */
  --fs-lg: clamp(1.25rem, 1.5vw, 1.5rem); /* 20px–24px */
  --fs-xl: clamp(1.5rem, 2vw, 2rem); /* 24px–32px */
  --fs-2xl: clamp(2rem, 3vw, 2.5rem); /* 32px–40px */

  /* transition */
  --transition-time: 0.3s;

  /* Readability */
  --bg-color: rgba(0, 0, 0, 0.1);
  --bg-text-color: var(--color-bg);
}

@font-face {
  font-family: 'Dynamix';
  src: url(../assets/fonts/Dynamix/Dynamix.ttf);
}

/* highlight */
::selection {
  color: var(--color-bg);
  background-color: var(--color-primary-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color var(--transition-time) ease, color var(--transition-time) ease, border var(--transition-time) ease, transform var(--transition-time) ease;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  line-height: 1.6;
  height: 100vh;
}

.light {
  --color-bg: #E0E0E0; /* light background */
  --color-primary-text: #121212; /* dark text */
  --color-secondary-text: #555555; /* subtle text */
  --color-border: #cccccc; /* light border */
  --color-accent: #555555; /* same as secondary text or tweak if needed */
  --bg-color: var(--color-bg); /* same as background for contrast text-*/
}

h1, h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-xl);
  color: var(--color-primary-text);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-lg);
}

h3 {
  font-size: var(--fs-base);
}

p {
  color: var(--color-primary-text);
  font-size: var(--fs-base);
  font-family: var(--font-primary);
}

a {
  color: var(--color-primary-text);
  text-decoration: none;
}

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* send it behind everything */
  pointer-events: none;  /* let clicks go through */
}

.contrast-text {
  border: 2px solid var(--color-border);
  border-radius: var(--radius);
  background-color: var(--bg-color);
}

.no-scroll {
  overflow: hidden;
}

#sun-icon, 
#moon-icon {
  display: none;
}

#m-sun-icon,
#m-moon-icon {
  display: none;
}

body.light #m-moon-icon {
  display: inline-block !important;
}

body.dark #m-sun-icon {
  display: inline-block !important;
}

.toggle-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: var(--fs-xl);
  z-index: 100;
}

.theme-icon {
  color: var(--color-primary-text);
}

.m-theme-icon {
  color: var(--color-bg);
}

.m-theme-icon.active {
  color: var(--color-bg);
}

.theme-icon.active {
  color: var(--color-bg);
}

.mobile-nav {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  width: 100vw;
  pointer-events: none; 
}

.nav-blur, .nav-bar {
  height: 100%;
  width: 50%;
}

.nav-bar {
  display: flex;
  background-color: var(--color-primary-text);
  transform: translateX(100%);
  transition: transform var(--transition-time) ease-in-out;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 0;
  gap: var(--fs-2xl);
}

.nav-bar a {
  color: var(--color-bg);
  font-size: var(--fs-base);
}

.nav-blur {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px); /* apply blur */
  -webkit-backdrop-filter: blur(2px); /* for Safari */
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.mobile-nav {
  display: flex !important;
}

.mobile-nav.active .nav-blur{
  pointer-events: auto;
  opacity: 1;
}

.mobile-nav.active .nav-bar{
  pointer-events: auto;
  transform: translateX(0);
}

.whole-container {
  display: block;
}

.intro-section, 
.skills-section, 
.projects-section, 
.about-section,
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: fit-content;
  padding: var(--spacing-lg) var(--spacing-lg);
  color: var(--text);
}

.scroll-section {
  display: block;
}

.intro-section {
  padding-top: 5rem;
}

.intro-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: var(--radius);  
}

.intro-title {
  font-size: var(--fs-2xl);
  margin-bottom: var(--spacing-lg);
}

.intro-subtitle {
  font-size: var(--fs-base);
  font-weight: bold ;
  margin-bottom: 2rem;
}

.intro-navigation {
  display: none;
  margin-bottom: 3rem;
}

.intro-navigation a {
  font-weight: bold;
  color: var(--text);
}

.intro-navigation nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-md);
  list-style: none;
  font-size: var(--fs-md);
}

.intro-navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.li-line {
  background-color: var(--color-primary-text);
  width: 2rem;
  height: 2px;
  margin-right: var(--spacing-sm);
  transition: width var(--transition-time) ease;
}

.intro-navigation li:hover .li-line {
  width: 3rem;
}

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

.fa-solid, .fa-brands {
  font-size: var(--fs-lg);
  /* color: var(--color-primary-text); */
}

.cv-button {
  background-color: var(--color-primary-text);
  border-radius: var(--radius);
  min-width: min-content;
  padding: var(--spacing-md) var(--spacing-lg);
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
  
  color: var(--color-bg);
  font-weight: 600;
  font-size: var(--fs-base);

  border: 2px solid transparent;
  transition: all var(--transition-time) ease;
}

.cv-button:active {
  background-color: transparent;
  border-color: var(--color-primary-text);
  color: var(--color-primary-text);
  transform: translateY(-2px);
}

.wrapper-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-sm);
}

.social-button {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary-text);
  border: 2px solid var(--color-border);
  border-radius: var(--radius);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all var(--transition-time) ease;
}

.social-button:active {
  border-color: var(--color-primary-text);
  color: var(--color-primary-text);
  transform: translateY(-2px);
  background-color: rgba(224, 224, 224, 0.1);
}

.section-title {
  margin-bottom: var(--spacing-lg);
}

.section-subtitle {
  margin-bottom: var(--spacing-md);
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.skills-grid h3 {
  font-size: var(--fs-md);
}

.skills-grid ul, .project-stack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: var(--spacing-sm);
}

.skills-grid li, .stack {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: fit-content;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius);

  border: 2px solid var(--color-border);
  border-radius: var(--radius);
}

.skills-grid li:active {
  border-color: var(--color-primary-text);
  color: var(--color-primary-text);
  transform: translateY(-2px);
  background-color: var(--bg-color);
}

.project-card {
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  border-radius: var(--radius);
}

.project-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

body.light .project-card:hover {
  background-color: var(--color-bg);
}

.project-images-container {
  display: flex;
  gap: var(--spacing-md);
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin-bottom: var(--spacing-md);
}

.project-thumbnail,
.project-images {
  width: 100%;
  /* max-width: clamp(10rem, 20vw, 20rem); */
  object-fit: cover;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.project-description-container {
  margin-bottom: var(--spacing-md);
}

.project-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.project-title {
  font-size: var(--fs-md);
  margin-right: var(--spacing-md);
}

.project-type, .project-description {
  font-size: var(--fs-sm);
}

.project-description {
  font-size: var(--fs-sm);
}

.project-stack {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-lg);
}

.stack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-links a {
  margin-right: var(--spacing-sm);
  font-size: var(--fs-sm);
}

.project-links a:active {
  text-decoration: underline;
}

.about-content,
.contact-content {
  font-size: var(--fs-sm);
  border-radius: var(--radius);
}

.about-content-section, .contact-content {
  width: 100%;
  padding: var(--spacing-lg);
}

.about-content-section .profile-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content a,
.contact-content a {
  text-decoration: underline;
}

.profile {
  text-align: center;
  width: 80%;
  border-radius: 50%;
  border: 0.5rem solid var(--color-primary-text);
  margin-bottom: var(--spacing-lg);
}

.intro-description, .about-stats {
  border-radius: var(--border-radius);
  color: var(--color-primary-text);
  font-size: var(--fs-sm);
  margin-bottom: 3rem;
}

.about-stats li {
  list-style: none;
}

.desktop-contact {
  display: none;
}

/* xs */
@media (min-width: 475px) {
  
}

/* sm */
@media (min-width: 640px) {
  
}

/* md */
@media (min-width: 768px) {
  .intro-section, 
  .skills-section, 
  .projects-section, 
  .about-section,
  .contact-section {
    padding: var(--spacing-lg) 3rem;
  }

  .intro-section {
    padding-top: 5rem;
  }

  .project-thumbnail,
  .project-images {
    width: 80%;
  }

  .profile {
    width: 40%;
  }
}

/* lg */
@media (min-width: 1024px) {

  body {
    height: 100vh;
    overflow-y: scroll;
    overflow: hidden;
  }

  body.light #moon-icon {
    display: inline-block;
  }

  body.dark #sun-icon {
    display: inline-block;
  }

  /* Hide mobile-specific elements on desktop */
  #m-sun-icon, 
  #m-moon-icon,
  .mobile-nav,
  .fa-bars {
    display: none !important;
  }

  .fa-solid, .fa-brands {
    font-size: var(--fs-xl);
    cursor: pointer;
  }

  .whole-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  .intro-section, 
  .skills-section, 
  .projects-section, 
  .about-section,
  .contact-section {
    padding: 3rem 4rem;
  }

  .skills-section, 
  .projects-section,
  .about-section,
  .contact-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
  }
  
  .intro-section {
    position: sticky;
    top: 0;
    height: 100vh;
  }
  
  .scroll-section {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .intro-navigation {
    display: inline-block;
  }

  .project-thumbnail,
  .project-images {
    width: 100%;
  }

  .cv-button:hover {
    background-color: transparent;
    border-color: var(--color-primary-text);
    color: var(--color-primary-text);
    transform: translateY(-2px);
  }
  
  .social-button:hover {
    border-color: var(--color-primary-text);
    color: var(--color-primary-text);
    transform: translateY(-2px);
    background-color: var(--bg-color);
  }
  
  .skills-grid li:hover {
    border-color: var(--color-primary-text);
    color: var(--color-primary-text);
    transform: translateY(-2px);
    background-color: var(--bg-color);
    cursor: pointer;
  }

  .project-links a:hover {
    text-decoration: underline;
  }

  .mobile-contact {
    display: none;
  }
  
  .desktop-contact {
    display: block;
  }
}

/* xl */
@media (min-width: 1280px) {
  
}

/* 2xl */
@media (min-width: 1536px) {
  
}